.about-hero {     
   position: relative;   
   background: linear-gradient(90deg, #304992 60%, #593694 50%);
}
.about-hero .container {
   position: relative;
   padding: 0;
   height: 600px;
   background-image: url('../../images/about_bg.png');
   background-repeat: no-repeat;
   background-size: contain;
}
.about-hero__info {
   position: absolute;
   top: 100px;
   left: 40px;
   
}
.about-hero__heading { 
   width: 550px;
   margin: 0;
   padding: 0;
   margin-bottom: 20px;
   font-size: 3.5em;
   line-height: 4rem;   
   color: #FFFFFF;
}
.about-hero__discription {
   width: 100%;
   max-width: 600px;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
   margin-bottom: 20px;
   font-size: 1.5rem;
   line-height: 2rem;
   text-align: justify;
}

.about-who{
   position: relative;
   background-color: #FFFFFF;
   z-index: 2;
}
.about-who .container{
   position: relative;
   text-align: center;
}
.about__top {
   position: absolute;
   top: -200px;
   right: 0;
   width: 100%;
   height: 300px;
   background-image: url('../../images/about_cloud.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.about-who__heading {
   position: relative;
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   margin-bottom: 20px;
}
.about-who__info {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.about-who__info__box {
   width: 100%;
   max-width: 50%;
   text-align: justify;
   margin-right: 30px;
   margin-left: 20px;
}
.info__title {
   font-size: 2.5em;
   line-height: 1.8em;
}
.info__discription {
   font-size: 1.5em;
   line-height: 1.6em;
}


.our-activity {
   position: relative;
   text-align: center;
}
.our-activity__heading {
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   margin: 35px 0;
}
.our-activity .container {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
}
.our-activity__discription {
   width: 100%;
   max-width: 60%;
   font-size: 1.6em;
   line-height: 2em;
   text-align: justify;
}
.our-activity__img-box {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.our-activity__img-content + .our-activity__img-content {
   margin-top: 10px;
}
.our-activity__img {
   border-radius: 10px;
}

.management {
   position: relative;
   text-align: center;
}
.management__heading {
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   margin: 35px 0;
}

.management__sub-list {
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
}
.management__sub-item:nth-child(1){
   width: 100%;
   max-width: 30%;
}
.management__sub-item:nth-child(2) {
   width: 100%;
   max-width: 50%
}
.management__sub-item {
   position: relative;
}
.management__item + .management__item {
   margin-top: 30px;
}
.management__item:nth-child(2n) .management__sub-item:nth-child(1){
   order: 1;
}
.management__img {
   border-radius: 10px;
}
.management__discription {
   font-size: 1.6em;
   line-height: 1.8em;
   text-align: justify;
}
.management__name {
   display: inline-block;
   margin-right: 15px ;
}
.social-set__box {
   position: absolute;
   bottom: 15px;
   right: 25px;
   width: 100%;
   max-width: 36px;
   height: 36px;
   background: linear-gradient(180deg,#FCBF31, #F48035 );
   padding: 9px 2px;
   border-radius: 50%;
   overflow: hidden;
   transition: height  0.9s;
}
.social-set__box:hover {
   border-radius: 8px;
   width: 35px;
   height: 100px;
   transition: height  0.9s;
}
.management__social__list {
   height: 65px;
   display: none;
   width: 100%;
   max-width: 35px;
}
.social-set__box:hover .management__social__list{
   display: block;
   transition: width  ease-in-out 0.8s all, height  ease-in-out 0.8s all;
}
.management__social__item  {
   margin-bottom: 4px;
}
.show__social {
   cursor: pointer;
}
.show__social__icon {
   transition: ease-in-out 0.8s all;
}
.social-set__box:hover .show__social__icon {
   transform: rotate(315deg);
   transition: ease-in-out 0.8s all;
   width: 18px;
   height: 18px;
}

.employees {
   position: relative;
   text-align: center;
}
.employees__heading {
   font-size: 2.5em;
   line-height: 1em; 
   color: #333333;
   margin-top: 20px;
   margin-bottom: 10px;
}

.employees__list {
   display: grid;
	grid-template-columns: repeat(5, auto);
	grid-column-gap: 40px;
   grid-row-gap: 10px;
	list-style: none;
	text-align: center;
	justify-content: center;
	align-items: center;
   width: 100%;
   max-width: 1150px;
   margin: 0 auto;
   padding: 20px;
   border: 2px solid #bcc8d1;
   border-radius: 15px;
}
.employees__item {
   position: relative;
}
.employees__img {
   border-radius: 10px;
}

.employees__social-set__box {
   position: absolute;
   bottom: 50px;
   right: 10px;
   width: 100%;
   max-width: 30px;
   height: 30px;
   background: linear-gradient(180deg,#FCBF31, #F48035 );
   padding: 8px;
   border-radius: 50%;
   overflow: hidden;
   transition: height  0.9s;
}
.employees__social-set__box:hover {
   border-radius: 8px;
   width: 30px;
   height: 90px;
   padding: 4px;
   transition: height  0.9s;
}
.employees__social__list {
   height: 65px;
   display: none;
   width: 100%;
   max-width: 30px;
}
.employees__social-set__box:hover .employees__social__list{
   display: block;
   transition: width  ease-in-out 0.8s all, height  ease-in-out 0.8s all;
}
.employees__social__item  {
   margin-bottom: 4px;
}
.employees__show__social {
   cursor: pointer;
}
.employees__show__social__icon {
   transition: ease-in-out 0.8s all;
}
.employees__social-set__box:hover .employees__show__social__icon {
   transform: rotate(315deg);
   transition: ease-in-out 0.8s all;
   width: 16px;
   height: 16px;
}
.employees__item__heading {
   font-size: 1em;
   line-height: 1em; 
   color: #333;
   margin-bottom: 5px;
}
.employees__item__discription {
   font-size: 1em;
   line-height: 1em; 
   color: hsl(0, 33%, 51%);
}

.employees__pagenation__list {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
}
.employees__pagenation__item + .employees__pagenation__item{
   margin-left: 10px;
}
.employees__pagenation__button {
   text-align: center;
   vertical-align: middle;
   height: 30px;
   padding: 2px;
}
.employees__pagenation__button.pagenation.pageClick {
   transform: scale(1.099);
}
.employees__pagenation__button.pagenation {
   text-align: center;
   vertical-align: middle;
   height: 30px;
   padding: 2px 5px ;
   
   cursor: pointer;
}
.employees__btn__img {
   object-fit: contain;
}
.employees__btn__img.back {
   transform: rotate(180deg);
}
.employees__pagenation__button:hover {
   transform: scale(1.099);
}