.hero { 
   background-color: #820386; 
   position: relative;
   top: -5px; 
   z-index: -1; 
}
.hero .container {
   position: relative;
   padding: 0;
   height: 700px;
   background-image: url('../../images/home_bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: -20px;
}
.hero__info {
   position: absolute;
   top: 120px;
   left: 60px;
   
}
.hero__heading { 
   width: 550px;
   margin: 0;
   padding: 0;
   margin-bottom: 20px;
   font-size: 3.5em;
   line-height: 4rem;   
   color: #FFFFFF;
}
.hero__discription {
   color: #FFFFFF;
   margin: 0;
   padding: 0;
   margin-bottom: 20px;
   font-size: 1.5rem;
   line-height: 2rem;
}
.hero__link {
   display: inline-block;
   margin: 0;
   padding: 15px 20px;
   background: #00B6AB;
   color: #FFFFFF;
   font-weight: 700;
   font-size: 1.5em;
   line-height: 1em;
   text-align: center;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.homeabout .container {
   position: relative;
   padding: 0;
}
.homeabout__top {
   position: absolute;
   top: -130px;
}
.homeabout__info{
   position: relative;
   z-index: 2;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding-bottom: 150px;
   padding-top: 50px;
   text-align: center;
}
.homeabout__heading {
   margin: 0;
   padding: 0;
   font-size: 3em;
   line-height: 1.5em;   
   margin-bottom: 30px;
   color: #333333;
}
.homeabout__list {
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.homeabout__item {
   position: relative;
   width: 100%;
   max-width: 300px;
   height: 300px;
   
}
.homeabout__item:nth-child(1) {
   background-image: url('../../images/school_baybay.jpg');
   background-repeat: no-repeat;
   background-size: 300px 300px;
}
.homeabout__item:nth-child(2) {
   background-image: url('../../images/classroom.jpg');
   border-radius: 10px;
   background-repeat: no-repeat;
   background-size: 300px 300px;
}
.homeabout__item:nth-child(3) {
   background-image: url('../../images/school_teach.jpg');
   background-repeat: no-repeat;
   background-size: 300px 300px;
}

.item__info {
   position: absolute;
   top: 103%;
   width: 100%;
   max-width: 250px;
   margin: 0;
   padding: 0;
}
.homeabout__item:nth-child(1) .item__info {
   left: 15px;
}
.homeabout__item:nth-child(3) .item__info {
   left: 20px;
}

.item__heading {
   font-weight: 500;
   font-size: 1.8em;
   line-height: 1em; 
}
.item__count {
   font-weight: 500;
   font-size: 1.8em;
   line-height: 1.5em;
   margin-bottom: 5px;
}
.homeabout__item:nth-child(1) .item__count {
   color: #0e9188
   
}
.homeabout__item:nth-child(2) .item__count{
   color: #6b0d6e;
}
.homeabout__item:nth-child(3) .item__count{
   color: #e71f83;
}
.homeabout__item:nth-child(1) .item__heading {
   color: #c92c2c;
   
}
.homeabout__item:nth-child(2) .item__heading{
   color: #3f2bb3;
}
.homeabout__item:nth-child(3) .item__heading{
   color: #054946
}

.home-ad {
   background-color: #e7ecec;
}
.home-ad .container {
   position: relative;
   height: 520px;
   background-color: #e7ecec;
   text-align: center;
   background-image: url('../../images/home_kid.png');
   background-repeat: no-repeat;
   background-size: 300px 350px;
   background-position:  calc(50% - 400px) 80px;
}
.home-ad__heading {
   padding: 0;
   padding: 20px 0; 
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   
}
.home-ad__img {
   margin-right: 36px;
}
.ad__img {
   border-radius: 5px;
}
.home-ad__box {
   position: absolute;
   right: 180px;
   display: flex;
   align-items: flex-start;
   text-align: start;
}
.home-ad__title {
   width: 100%;
   max-width: 250px;
   font-size: 1.5em;
   line-height: 1.4em; 
   text-align: justify;
   margin-bottom: 30px;
   color: #333333;
}

.back__btn, 
.next__btn{
   position: relative;
   top: 150px;
   cursor: pointer;
}
.next__btn {
   left: 20px;
}
.back__btn {
   transform: rotateY(180deg);
   right: 20px;
}
.next__btn:hover path, .back__btn:hover path{
   fill: #FE7EB1
}
.home-ad__link {
   display: inline-block;
   width: 100%;
   max-width: 120px;
   margin: 0;
   padding: 10px 15px;
   font-size: 1.4em;
   font-weight: 1em;
   text-align: center;
   border: 2px solid #054946;
   text-decoration: none;
   color: #054946;
   border-radius: 10px;
}

.home-ad__link:hover {
   border: 2px solid #0da189;
   background-color: #62f1ce;
   color: #333333;
}

.home-chouse {
   padding-top: 30px;
}

.home-chouse .container{
   position: relative;
   height: 700px;
   background-image: url('../../images/home_chouse_bg.png');
   background-size: cover;
}
.home-chouse__heading {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   padding: 0;
   font-size: 3em;
   line-height: 1em;
   color: #333333;
   
}
.home__chouse__list {
   position: absolute;
   top: 250px;
   left: 50px;
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-gap: 40px;
   grid-row-gap: 80px;
   list-style: none;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.home__chouse__item {
   display: flex;
   align-items: center;
}
.chouse__title {
   margin-left: 20px;
   font-style: normal;
   font-weight: 700;
   font-size: 1.4em;
   line-height: 1.9em;   
   color: #333333;
}

.home-gallery {
   padding-top: 30px;
}
.home-gallery .container {
   position: relative;
   height: 570px;
   background-image: url('../../images/home_gallery_bg.png');
   background-size: contain;
   background-repeat: no-repeat;
   text-align: center;
}
.home-gallery__heading {
   margin: 0 auto;
   margin-bottom: 40px;
   padding: 0;
   font-size: 3em;
   line-height: 1em;
   color: #333333;
   
}

.home-gallery__box {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 60px;
}
.home-gallery__img {

   border-radius: 120px;
}
.gallery__img {
   border-radius: 120px;
   width: 270px;
   height: 350px;
   object-fit: cover;
   transition: ease-in-out 1s all;
}
.gallery__img:hover {
   transform: scale(1.1);
   transition: ease-in-out 0.8s all;
}
.gallery__all-btn {
   border: none;  
}
.gallery__link {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   font-size: 1.2em;
   line-height: 1em;
   text-align: center;
   letter-spacing: -0.05em;
   color: #fff; 
   border: none;  
   padding: 10px 15px;
   background-color: #422774;
   border-radius: 8px;
   cursor: pointer;
}


.home-gallery__modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: none;
   background-color: rgb(0, 0, 0, 0.9);
   z-index: 5;
}
.active__gallery__modal {
   display: block;
}
.model__box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   max-width: 700px;
   height: 600px;
   margin: 30px auto;
   padding: 25px 15px;
}
.home-modal__img, .modal__img {
   display: inline-block;
   width: 100%;
   max-width: 520px;
   margin: 20px 0;
}
.gallery__back__btn {
   transform: rotateY(180deg);
}
.gallery__back__btn:hover path,
.gallery__next__btn:hover path {
   fill: #FE7EB1;
   cursor: pointer;
}


.gallery__close__modal {
   position: absolute;
   top: 15px;
   right: 395px;
   width: 100%;
   max-width: 45px;
   height: 45px;
   border: none;
   border-radius: 45%;
   cursor: pointer;
}
.home-achievements .container {
   padding: 30px 0;
   text-align: center;
   background-image: url('../../images/home_win_bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: calc(50% + 50px);
}
.home-achievements__heading {
   margin: 0 auto;
   margin-bottom: 30px;
   padding: 0;
   font-size: 3em;
   line-height: 1em;
   color: #333333;
}
.home-achievements__box {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 50px;
}
.home-achievements__img {
   position: relative;
   width: 100%;
   max-width: 300px;
   height: 400px !important;
   overflow: hidden;
   
}
.achievements__img {
   width: 100%;
   max-width: 300px;
   height: 400px;
   margin-bottom: 10px;
   object-fit: cover;
   transition: ease-in-out 0.7s all;
}
.achievements__img:hover {
   transform: scale(1.1);
   transition: ease-in-out 0.7s all;
}
.home-achievements__img__info {
   position: absolute;
   top: 280px;
   left: 10px;
   text-align: start;
}
.home-achievements__img__heading {
   width: 100%;
   max-width: 300px;
   margin: 0;
   margin-bottom: 10px;
   padding: 0;
   font-style: normal;
   font-weight: 700;
   font-size: 1.4em;
   line-height: 1em;   
   color: #333333;
}
.home-achievements__img__discription {
   width: 100%;
   max-width: 280px;
   margin: 0;
   padding: 0;
   text-align: justify;
   font-size: 1em;
   line-height: 1em;   
   color: #333333;
}
.achievements__link {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   font-size: 1.2em;
   line-height: 1em;
   text-align: center;
   letter-spacing: -0.05em;
   color: #fff; 
   border: none;  
   padding: 10px 15px;
   background-color: #422774;
   border-radius: 8px;
   cursor: pointer;
}
.achievements__all-btn {
   border: none;
}

.achievements__back__btn {
   transform: rotateY(180deg);
}
.achievements__back__btn:hover path,
.achievements__next__btn:hover path {
   fill: #FE7EB1;
   cursor: pointer;
}


.home-new .container {
   position: relative;
   height: 600px;
   text-align: center;
   background-image: url('../../images/home_new_bg.png');
   background-repeat: no-repeat;
   background-size: cover;

   
}
.home-new__heading {
   width: 100%;
   margin: 0 auto;
   margin-bottom: 30px;
   padding: 0;
   font-weight: 700;
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   
}

.home-new__list {
   display: flex;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 50px;
   padding: 0;
}
.home-new__item {
   display: flex;
   align-items: flex-start;
   text-align: start;
}
.home-new__item + .home-new__item {
   margin-left: 30px;
}
.home-new__img {
   margin-right: 16px;
}
.new__img {
   border-radius: 5px;
}
.home-new__box {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
}
.home-new__title {
   width: 100%;
   max-width: 250px;
   font-size: 1.5em;
   line-height: 1.5em; 
   text-align: justify;
   margin-bottom: 30px;
   color: #333333;
}
.new__back__btn, 
.new__next__btn{
   position: relative;
   cursor: pointer;
}
.new__back__btn {
   transform: rotateY(180deg);
}
.new__next__btn:hover path, .new__back__btn:hover path{
   fill: #FE7EB1
}
.new__created {
   display: flex;
   align-items: center;
   height: 30px;
   background-image: url('../../images/calendar.png');
   background-repeat: no-repeat;
   background-size: contain;
   margin-bottom: 20px;
}
.new__created__time {
   margin-left: 40px;
   font-size: 1.4em;
   font-weight: 1em;
}

.new__discription {
   width: 100%;
   max-width: 250px;
   font-size: 1.2em;
   line-height: 1.5em; 
   text-align: justify;
   margin-bottom: 20px;
   color: #000;
}
.home-new__link {
   display: inline-block;
   width: 100%;
   max-width: 120px;
   margin: 0;
   padding: 10px 15px;
   font-size: 1.4em;
   font-weight: 1em;
   text-align: center;
   border: 2px solid #054946;
   text-decoration: none;
   color: #054946;
   border-radius: 10px;
}

.home-new__link:hover {
   border: 2px solid #0da189;
   background-color: #62f1ce;
   color: #333333;
}



.home-form .container {
   position: relative;
   text-align: center;
   height: 600px;
   background-image: url('../../images/home_form_bg.png');
   background-repeat: no-repeat;
   background-size: contain;
   z-index: 2;
}
.home-form__info {
   height: 650px;
   background-image: url('../../images/form_kid.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position-y: 10px;
}
.home-from__heading {
   margin-bottom: 40px;
   font-weight: 700;
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
}
.home-form__box {
   position: absolute;
   right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 700px;
   height: 550px;
   margin: 0 auto ;
   text-align: start;
   background-image: url('../../images/form_bg.png');
   background-repeat: no-repeat;
   background-size: contain;
   
}
.home-form__title{
   font-size: 1.5em;
   line-height: 1.5em; 
   text-align: justify;
   margin-bottom: 10px;
   color: #333333;
   margin-top: 30px;
}
.form__input {
   width: 100%;
   max-width: 400px;
   color: #fff;
   border: none;
   border-bottom: 1px dashed #fff;
   margin-bottom: 15px;
   padding: 10px 15px;
   background-color: #FFB600;
   outline: none;   
}
.form__message::placeholder,
.form__input::placeholder {
   color: #fff;
}
.form__message {
   width: 100%;
   max-width: 400px;
   padding: 10px 15px;
   color: #fff;
   border: none;
   border-bottom: 1px dashed #fff;
   background-color: #FFB600;
   margin-bottom: 20px;
   outline: none;   
}

.home-from__btn {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 500;
   font-size: 1em;
   line-height: 1em;
   text-align: center;
   color: #fff; 
   border: none;  
   padding: 10px 25px;
   background-color: #422774;
   border-radius: 8px;
   cursor: pointer;
}
.home-video {
   text-align: center;
}

.home__videos{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 40px;
}
.home-video__heading{
   font-size: 3em;
   line-height: 1em; 
   color: #333333;
   margin-bottom:  30px;
}
.video__frame {
   border: none;
   border-radius: 8px;
   object-fit: contain;
}
.open__video {
   width: 700px;
   height: 600px;
}
